.form-container {
  margin-top: 30px;
  width: 100%; /* Full width */
  padding: 0 30px; /* Padding for left and right */
  box-sizing: border-box; /* Ensures padding is included in width */
}

.form-container > * {
  margin-bottom: 20px;
}

.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  margin-top: 50px;
}

.filter-button-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
}

.filter-button-container > * {
  padding: 0 20px;

}

.TextField {
  width: 300px; 
}

.Button {
  height: 70px; 
}

.form-container .MuiFormControl-root {
  margin-bottom: 20px; /* Adds space between form elements */
}

.form-container .MuiTextField-root {
  margin-bottom: 20px; /* Adds space between text fields */
}

.update-button {

  background-color: #1976d2;
  color: white;
  border-radius: 4px; 
  border: none; 
  padding: 6px 16px; 
  cursor: pointer; 

  text-transform: uppercase; 
}

.update-button:hover {
  background-color: #115293; 
}

.delete-button {
  min-width: 60px;
  margin-left: 10px;
  background-color: red;
  color: white;
  border-radius: 4px; 
  border: none; 
  padding: 6px 16px; 
  cursor: pointer; 
  font-size: 14px;
  text-transform: uppercase; 
}

.delete-button:hover {
  background-color: darkred; 
}

.mar-t-16 {
  margin-top: '16px'; 
}
.mar-l-8 {
  margin-left: '8px'; 
}


